.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

.div {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding: 12px 24px;
  color: #3f51b5; 
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #3f51b5;
  letter-spacing: 0.5px;
}